/* components/RouteMap.module.css */


.startMarker {
  filter: hue-rotate(200deg);
}

.endMarker {
  filter: hue-rotate(100deg);
}

.mapContainer {
  height: 100%;
  width: 100%;
  z-index: 10;
}

.leaflet-container .leaflet-touch .leaflet-control-layers,
.leaflet-container .leaflet-touch .leaflet-bar {
  border: none;
  background-clip: padding-box;
}

.leaflet-popup-content-wrapper {
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}